serverless_functions/aws/python/image_recognition/step.json
{
  "Comment": "An Amazon States Machine that recognizes images and replies basing on the content",
  "StartAt": "Image recognition",
  "States": {
    "Image recognition": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "__PLACEHOLDER__"
      },
      "ResultPath": "$",
      "Next": "Human detection"
    },
    "Human detection": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Payload.result",
          "StringMatches": "*face*",
          "Next": "Face"
        }
      ],
      "Default": "Not face"
    },
    "Face": {
      "Type": "Pass",
      "Result": "The image you provided contains a face",
      "End": true
    },
    "Not face": {
      "Type": "Pass",
      "Result": "The image you provided does not contain a face",
      "End": true
    }
  }
}